<div class="container">
  <div class="row justify-content-center">
    <div class="col col-sm-12 col-md-8 col-lg-6">
      <form
        class="signup-form"
        [formGroup]="userFormValidation.formGroup"
        (submit)="onSubmit()"
      >
        <mat-card>
          <mat-card-header class="pb-3">
            Изменение информации про себя
          </mat-card-header>
          <mat-card-content>
            <mat-form-field class="pb-3">
              <mat-label>Имя</mat-label>
              <input
                matInput
                formControlName="userName"
                type="text"
                #userNameInput
              />
              <mat-error
                *ngIf="userFormValidation.getFormField('userName').invalid"
              >
                <div
                  *ngIf="
                    userFormValidation.getFormField('userName').errors
                      ?.required &&
                    userFormValidation.getFormField('userName').touched
                  "
                >
                  Имя обязательно
                </div>
                <div
                  *ngIf="userFormValidation.hasError('userName', 'notUnique')"
                >
                  Имя не уникально
                </div>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="pb-3">
              <mat-label>Почта</mat-label>
              <input
                matInput
                formControlName="email"
                type="text"
                #userEmailInput
              />
              <mat-error
                *ngIf="userFormValidation.getFormField('email').invalid"
              >
                <div
                  *ngIf="
                    userFormValidation.getFormField('email').errors?.required &&
                    userFormValidation.getFormField('email').touched
                  "
                >
                  Почта обязательна
                </div>
                <div
                  *ngIf="
                    userFormValidation.hasError('email', 'email') &&
                    userFormValidation.getFormField('email').touched
                  "
                >
                  Неправильная почта
                </div>
                <div *ngIf="userFormValidation.hasError('email', 'notUnique')">
                  Почта не уникальна
                </div>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="pb-3">
              <mat-label for="password">Пароль</mat-label>
              <input matInput formControlName="oldPassword" type="password" />
              <mat-error
                *ngIf="
                  userFormValidation.getFormField('oldPassword').invalid &&
                  userFormValidation.getFormField('oldPassword').touched
                "
              >
                <div
                  *ngIf="
                    userFormValidation.getFormField('oldPassword').errors
                      ?.required;
                    else passwordNotEmpty
                  "
                >
                  Паоль обязателен
                </div>
                <ng-template #passwordNotEmpty>
                  Пароль обязательно должен иметь:
                  <span
                    *ngIf="
                      userFormValidation.hasError('oldPassword', 'hasUpperCase')
                    "
                  >
                    1 большая буква;
                  </span>
                  <span
                    *ngIf="
                      userFormValidation.hasError('oldPassword', 'hasLowerCase')
                    "
                  >
                    1 маленькая буква;
                  </span>
                  <span
                    *ngIf="
                      userFormValidation.hasError('oldPassword', 'hasNumber')
                    "
                  >
                    1 число;
                  </span>
                  <span
                    *ngIf="
                      userFormValidation.hasError('oldPassword', 'hasLength')
                    "
                  >
                    8-64 знаков;
                  </span>
                  <span
                    *ngIf="
                      userFormValidation.hasError('oldPassword', 'mustMatch')
                    "
                  >
                    пароли не совпадают;
                  </span>
                </ng-template>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="pb-3">
              <mat-label for="password">Новый пароль</mat-label>
              <input matInput formControlName="newPassword" type="password" />
              <mat-error
                *ngIf="
                  userFormValidation.getFormField('newPassword').invalid &&
                  userFormValidation.getFormField('newPassword').touched
                "
              >
                <div>
                  Пароль обязательно должен иметь:
                  <span
                    *ngIf="
                      userFormValidation.hasError('newPassword', 'hasUpperCase')
                    "
                  >
                    1 большая буква;
                  </span>
                  <span
                    *ngIf="
                      userFormValidation.hasError('newPassword', 'hasLowerCase')
                    "
                  >
                    1 маленькая буква;
                  </span>
                  <span
                    *ngIf="
                      userFormValidation.hasError('newPassword', 'hasNumber')
                    "
                  >
                  1 число;
                  </span>
                  <span
                    *ngIf="
                      userFormValidation.hasError('newPassword', 'hasLength')
                    "
                  >
                  8-64 знаков;
                  </span>
                </div>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="pb-3">
              <mat-label>Подтверждающий пароль</mat-label>
              <input
                matInput
                formControlName="confirmNewPassword"
                type="password"
              />
              <mat-error
                *ngIf="
                  userFormValidation.hasError('confirmNewPassword', 'mustMatch')
                "
              >
                Пароли не совпадают
              </mat-error>
            </mat-form-field>
            <button
              mat-raised-button
              color="primary"
              type="submit"
              [disabled]="
                userFormValidation.formGroup.invalid || buttonDisable
              "
            >
              Change
            </button>
          </mat-card-content>
          <mat-card-footer>
            <ngb-alert
              type="success"
              role="alert"
              (closed)="globalSuccess = ''"
              *ngIf="globalSuccess && globalSuccess.length != 0"
            >
              {{ globalSuccess }}
            </ngb-alert>
            <ngb-alert
              type="danger"
              role="alert"
              (closed)="userFormValidation.globalError = ''"
              *ngIf="
                userFormValidation.globalError &&
                userFormValidation.globalError.length != 0
              "
            >
              {{ userFormValidation.globalError }}
            </ngb-alert>
          </mat-card-footer>
        </mat-card>
      </form>
    </div>
  </div>
</div>
