<button mat-icon-button class="mx-1" [matMenuTriggerFor]="menu">
  <mat-icon
    [matBadgeHidden]="countNotifications == 0"
    [matBadge]="countNotifications"
  >
    notifications
  </mat-icon>
</button>
<mat-menu
  #menu="matMenu"
  class="notification-menu"
  xPosition="before"
>
<div>
  <mat-card>
    <mat-slide-toggle click-stop-propagation>
    </mat-slide-toggle>
    Subscribe to send notifications to the email
  </mat-card>
  <notifications-dynamic-notifications
  (changingCountNotificationsEvent)="setCountNotification($event)"
  ></notifications-dynamic-notifications>
</div>
</mat-menu>
