<div class="container">
    <div class="row justify-content-center">
        <div class="col col-sm-12 col-md-8 col-lg-6">
            <form class="signup-form" [formGroup]="signUpFormValidator.formGroup" (submit)="onSubmit()">
                <mat-card>
                    <mat-card-header class="pb-3">
                        Регистрация
                    </mat-card-header>
                    <mat-card-content>
                        <mat-form-field class="pb-3">
                            <mat-label>Имя</mat-label>
                            <input matInput
                                formControlName="userName"
                                type="text" autocomplete="new-name">
                            <mat-error *ngIf="signUpFormValidator.getFormField('userName').invalid">
                                <div *ngIf="signUpFormValidator.getFormField('userName').errors?.required
                                    && signUpFormValidator.getFormField('userName').touched">
                                    Имя обязательно
                                </div>
                                <div *ngIf="signUpFormValidator.hasError('userName','notUnique')">
                                    Имя не уникально
                                </div>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="pb-3">
                            <mat-label>Почта</mat-label>
                            <input matInput
                                formControlName="email"
                                type="text" autocomplete="new-email">
                            <mat-error *ngIf="signUpFormValidator.getFormField('email').invalid">
                                <div *ngIf="signUpFormValidator.getFormField('email').errors?.required
                                    && signUpFormValidator.getFormField('email').touched">
                                    Почта обязательна
                                </div>
                                <div *ngIf="signUpFormValidator.hasError('email','email')
                                    && signUpFormValidator.getFormField('email').touched">
                                    Неправильная почта
                                </div>
                                <div *ngIf="signUpFormValidator.hasError('email','notUnique')">
                                    Почта не уникальна
                                </div>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="pb-3">
                            <mat-label for="password">Пароль</mat-label>
                            <input matInput formControlName="password" type="password" autocomplete="new-password">
                            <mat-error *ngIf="signUpFormValidator.getFormField('password').invalid
                                && signUpFormValidator.getFormField('password').touched">
                                <div *ngIf="signUpFormValidator.getFormField('password').errors?.required;
                                    else passwordNotEmpty">
                                    Пароль обязателен
                                </div>
                                <ng-template #passwordNotEmpty>
                                    Пароль должен иметь:
                                    <span
                                        *ngIf="signUpFormValidator.hasError('password','hasUpperCase')">
                                        1 большую букву;
                                    </span>
                                    <span
                                        *ngIf="signUpFormValidator.hasError('password','hasLowerCase')">
                                        1 маленькую букву;
                                    </span>
                                    <span
                                        *ngIf="signUpFormValidator.hasError('password','hasNumber')">
                                        1 число;
                                    </span>
                                    <span
                                        *ngIf="signUpFormValidator.hasError('password','hasLength')">
                                        8-64 символов;
                                    </span>
                                </ng-template>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="pb-3">
                            <mat-label>Подтверждающий пароль</mat-label>
                            <input matInput formControlName="confirmPassword" type="password"  autocomplete="confirm-new-password">
                            <mat-error *ngIf="signUpFormValidator.hasError('confirmPassword','mustMatch')">
                                Пароли не совпадают
                            </mat-error>
                        </mat-form-field>
                        <button mat-raised-button
                            color="primary"
                            type="submit"
                            [disabled]="signUpFormValidator.formGroup.invalid || buttonDisable">
                            Зарегестрироваться
                        </button>
                    </mat-card-content>
                    <mat-card-footer>
                        <ngb-alert
                            type="danger"
                            role="alert"
                            (closed)="signUpFormValidator.globalError = ''"
                            *ngIf="(signUpFormValidator.globalError &&
                                signUpFormValidator.globalError.length != 0)">
                            {{signUpFormValidator.globalError}}
                        </ngb-alert>
                    </mat-card-footer>
                </mat-card>
            </form>
        </div>
    </div>
</div>
