<div class="buttons-panel">
  <div class="lef-side d-flex align-content-center">
    <button mat-button (click)="createNote()">
      <mat-icon class="mx-1">add</mat-icon>
      Добавить новую заметку
    </button>
    <mat-form-field>
      <ngx-mat-file-input [formControl]="fileControl" multiple="false" accept=".json">
      </ngx-mat-file-input>
    </mat-form-field>
  </div>
  <notifications-home> </notifications-home>
</div>
<div class="w-100 search-bar">
  <mat-form-field class="example-full-width">
    <span matPrefix> </span>
    <input type="tel" matInput placeholder="Поиск" name="поиск" [(ngModel)]="searchItem">
    <button matSuffix mat-button (click)="clickSearch()">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
</div>
<div #gridElement class="grid hide">
  <div class="item col p-1" *ngFor="let note of getNotes()">
    <div class="item-content">
      <notes-note [note]="note"></notes-note>
    </div>
  </div>
</div>
